body {
	margin: 0px;}
.navigation {
	position:sticky;
	top: 0px;
	width: 100%;
	z-index: 100px;}
#motto{
	float: left;
	color: white;
	padding: 7px 16px 8px 16px;
	font-size: 29px;
 	font-family: 'Shizuru', cursive; }
.active {
	background-color: #04aa6d;}
nav li {
	float: right;}
nav  ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #333;}
.navigation li a:hover {
	background-color: #ddd;
	color: black;}
.navigation img {
	width: 30px;
	height: 30px;}
.navigation li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 23px ;
	text-decoration: none;}
footer {
  	background-color: #c4aead;
  	height: 58px; 
	position: sticky;}
.left {
	text-decoration: none;
	float: left;
	font-size: 24px;
	color: black;}
.right {
	margin-right: 40px;}
.icon-style {
 	height: 40px;
 	margin-left: 20px;
 	margin-top: 5px;}
.to-top {
	float: right;
	margin: 10px 0px 0px 0px;}
.to-top img {
 	height: 40px;}
.icon-style:hover{
	transform: scale(1.1);}
.top-button:hover{
	transform: scale(1.1);}
.column {
	float: left;
	padding: 25px;}
.clear{
	clear: left;
}